<div>
  <nav class="navbar navbar-expand navbar-dark bg-darkpink">
    <a routerLink="accueil" class="navbar-brand">Projet CGL</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="accueil" routerLinkActive="active" class="nav-link"
          >Accueil</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="archivage" routerLinkActive="active" class="nav-link"
          >Archiver</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="list-doc" routerLinkActive="active" class="nav-link"
          >Consulter</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="statistiques" routerLinkActive="active" class="nav-link"
          >Statistiques</a
        >
      </li>
    </div>
  </nav>
  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
