<form class="row g- needs-validation" novalidate>

    <div class="col-md-4">
      <label for="validationCustomFile" class="form-label">Charger le document</label>
      <input type="file" class="form-control" id="validationCustomFile" required>
      <div class="valid-feedback">
        C'est bon !
      </div>
      <div class="invalid-feedback">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustomName" class="form-label">Nom de l'archive</label>
      <input type="text" class="form-control" id="validationCustomName" placeholder="Entrer le nom" required>
      <div class="valid-feedback">
        C'est bon !
      </div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
