<div style="width: 500px; margin: auto">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <h5>Archiver un document</h5>
      <div class="form-group">
        <label for="name">Nom de l'archive :</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="doc.nom"
          name="nom"
        />
      </div>
      <br>
      <div class="form-group">
        <label for="type-select">Type de l'archive :</label>
          <select name="type" id="type-select" required [(ngModel)]="doc.type">
            <option value="">--Type--</option>
            <option value="texte">Texte</option>
            <option value="audio">Audio</option>
            <option value="vidéo">Vidéo</option>
            <option value="binaire">Binaire</option>
          </select>

      </div>
      <br>
      <div class="form-group">
        <label for="validationCustomFile" class="form-label"
          >Charger le document :</label
        >
        <input
          type="file"
          class="form-control"
          id="validationCustomFile"
          required
          [(ngModel)]="doc.file"
          name="file"
        />
        <div class="valid-feedback">C'est bon !</div>
        <div class="invalid-feedback">Please select a valid state.</div>
      </div>
      <br>
      <button (click)="add()" class="btn btn-success">
        Archiver
      </button>
    </div>
    <div *ngIf="submitted">
      <h3>Document successfully archivé !</h3>
      <button class="btn btn-success" (click)="newDocument()">Nouveau..</button>
    </div>
  </div>
</div>
