<h5>Les documents par type</h5>
<table class="table bg-cream">
  <thead>
    <tr>
      <th>TYPE</th>
      <th>Nombre de Documents</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doc of byType | keyvalue">
      <td>{{doc.key}}</td>
      <td>{{doc.value}}</td>
    </tr>
  </tbody>
</table>

<h5>Les documents par date</h5>
<table class="table bg-cream">
  <thead>
    <tr>
      <th>DATE</th>
      <th>Nombre de Documents</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doc of documents | keyvalue">
      <td>{{doc.key}}</td>
      <td>{{doc.value}}</td>
    </tr>
  </tbody>
</table>

<h5>Les documents par date et par type</h5>
<table class="table bg-cream">
  <thead>
    <tr>
      <th>DATE</th>
      <th>Type</th>
      <th>Nombre de documents</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doc of test | keyvalue">
      <td>{{doc.key.split(",")[0].substring(1)}}</td>
      <td>{{doc.key.split(",")[1].slice(0,-1)}}</td>
      <td>{{doc.value}}</td>
    </tr>
  </tbody>
</table>
